<header>
    <h1>Issue List</h1>

    <form class="new-task" ng-submit="$ctrl.addIssue($ctrl.newIssue)">
        <input ng-model="$ctrl.newIssue" type="text" name="text" placeholder="Type to add new Issues"/>
    </form>

</header>

<ul>
    <li ng-repeat="issue in $ctrl.issues" ng-class="{'checked': issue.checked}">
        <button class="delete" ng-click="$ctrl.removeIssue(issue)">&times;</button>

        <input type="checkbox" ng-checked="issue.checked" ng-click="$ctrl.setChecked(issue)" class="toggle-checked"/>

        <span class="text">
      {{issue.text}}
    </span>
</ul>